HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Log files
logs/
*.log
/Doc/ClassDiagram.mmd
/.claude/agents/jira-backlog-generator.md
/nul
/Doc/Plannification.md
/Doc/PRD.md
/.claude/settings.local.json
/.claude/agents/uml-architect.md

# Environment variables
.env
.env.local
.env.*.local

# Sensitive config files
**/application-local.yml
